<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
    <head>
        <title th:text="#{email.activation.title}">Cuenta creada</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.activation.greeting(${user.login})}">
            Hola!
        </p>
        <p th:text="#{email.creation.text1}">
            Su cuenta fue creada, por favor siga el enlace de abajo para acceder a ella:
        </p>
 
        <p>
            <a th:with="url=(@{|${baseUrl}/account/reset/finish?key=${user.resetKey}|})" th:href="${url}"
            th:text="${url}">Iniciar sesión</a>
        </p>
        <p>
            <span th:text="#{email.activation.text2}">Saludos, </span>
            <br/>
            <em th:text="#{email.signature}">El equipo de 8Bit</em>
        </p>
    </body>
</html>
