<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
    <head>
        <title th:text="#{email.reset.title}">Restablecer contraseña</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.reset.greeting(${user.login})}">
            Hola!
        </p>
        <p th:text="#{email.reset.text1}">
            Recibimos una solicitud de restablecimiento de contraseña de su cuenta.
            Si usted no solicitó esta acción, solo ignore o elimine este correo.<br>
            
            Para restablecer la contraseña de su cuenta, por favor siga el enlace de abajo:
        </p>
        <p>
            <a th:with="url=(@{|${baseUrl}/account/reset/finish?key=${user.resetKey}|})" th:href="${url}"
            th:text="${url}">Iniciar sesión</a>
        </p>
        <p>
            <span th:text="#{email.reset.text2}">Saludos, </span>
            <br/>
            <em th:text="#{email.signature}">El equipo de 8bit</em>
        </p>
    </body>
</html>
